services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2.5
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data  # ← AGREGADO: Persistencia para Redis
    command: redis-server --appendonly yes  --requirepass ${REDIS_PASSWORD} # ← AGREGADO: Habilitar persistencia
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD} 
    env_file:
    - .env

  django:
    build:
      context: ./backend
    command: bash -c "python manage.py migrate && python manage.py collectstatic --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env  
    depends_on:
      - db
      - redis

  celery_worker:
    build:
      context: ./backend
    command: ./celery_worker.sh
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=sgm_backend.settings
      - SECRET_KEY=${SECRET_KEY}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}  # ← AGREGAR: Solo la contraseña
    env_file:
      - .env  # ← AGREGAR: Para que lea las variables del .env
    depends_on:
      - db
      - redis

  flower:
    image: mher/flower
    command: python -m celery --broker=redis://:${REDIS_PASSWORD}@redis:6379/0 flower
    ports:
      - "5555:5555"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}  # ← AGREGAR
    env_file:
      - .env  # ← AGREGAR
    depends_on:
      - redis
      - celery_worker

  redis-insight:
    image: redis/redisinsight:latest
    container_name: sgm-redis-insight
    ports:
      - "5540:5540"                # UI en http://<host>:5540
    volumes:
      - redis_insight_data:/data   # Persistencia de conexiones/logs
    environment:
      - RI_APP_PORT=5540           # explícito (default ya es 5540)
      - RI_APP_HOST=0.0.0.0        # escucha en todas las interfaces
      - RI_LOG_LEVEL=debug
    depends_on:
      - redis

  streamlit_conta:
    build:
      context: .
      dockerfile: streamlit_conta/streamlit.Dockerfile
    volumes:
      - ./streamlit_conta:/app
    ports:
      - "8502:8502"
    environment:
      - PORT=8502
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB_CONTABILIDAD=1
    depends_on:
      - redis


volumes:
  postgres_data:
  redis_data:
  redis_insight_data:
  


